SmartDots/Service References/ServiceReferenceBroadCast/BroadCastService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BroadCastService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IBroadCastService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://srvsqldevd1.clo.be/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://srvsqldevd1.clo.be/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://srvsqldevd1.clo.be/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BroadCasterServiceDier1" />
      <xsd:import schemaLocation="http://srvsqldevd1.clo.be/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBroadCastService_RegisterClient_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterClient" />
  </wsdl:message>
  <wsdl:message name="IBroadCastService_RegisterClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterClientResponse" />
  </wsdl:message>
  <wsdl:message name="IBroadCastService_SendBroadCastWithSkype_InputMessage">
    <wsdl:part name="parameters" element="tns:SendBroadCastWithSkype" />
  </wsdl:message>
  <wsdl:message name="IBroadCastService_SendBroadCast_InputMessage">
    <wsdl:part name="parameters" element="tns:SendBroadCast" />
  </wsdl:message>
  <wsdl:message name="IBroadCastService_BroadCastPing_InputMessage">
    <wsdl:part name="parameters" element="tns:BroadCastPing" />
  </wsdl:message>
  <wsdl:message name="IBroadCastService_BroadCastPing_OutputMessage">
    <wsdl:part name="parameters" element="tns:BroadCastPingResponse" />
  </wsdl:message>
  <wsdl:message name="IBroadCastService_CreateNewsMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewsMessage" />
  </wsdl:message>
  <wsdl:message name="IBroadCastService_KeepAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:KeepAlive" />
  </wsdl:message>
  <wsdl:message name="IBroadCastService_UsersForApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:UsersForApplication" />
  </wsdl:message>
  <wsdl:message name="IBroadCastService_UsersForApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsersForApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IBroadCastService_UserMailsForApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:UserMailsForApplication" />
  </wsdl:message>
  <wsdl:message name="IBroadCastService_UserMailsForApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserMailsForApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IBroadCastService_History_InputMessage">
    <wsdl:part name="parameters" element="tns:History" />
  </wsdl:message>
  <wsdl:message name="IBroadCastService_History_OutputMessage">
    <wsdl:part name="parameters" element="tns:HistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IBroadCastService_HistoryLastItem_InputMessage">
    <wsdl:part name="parameters" element="tns:HistoryLastItem" />
  </wsdl:message>
  <wsdl:message name="IBroadCastService_HistoryLastItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:HistoryLastItemResponse" />
  </wsdl:message>
  <wsdl:message name="IBroadCastService_BroadCastToClients_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:BroadCastToClients" />
  </wsdl:message>
  <wsdl:portType name="IBroadCastService">
    <wsdl:operation name="RegisterClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IBroadCastService/RegisterClient" message="tns:IBroadCastService_RegisterClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBroadCastService/RegisterClientResponse" message="tns:IBroadCastService_RegisterClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendBroadCastWithSkype">
      <wsdl:input wsaw:Action="http://tempuri.org/IBroadCastService/SendBroadCastWithSkype" message="tns:IBroadCastService_SendBroadCastWithSkype_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendBroadCast">
      <wsdl:input wsaw:Action="http://tempuri.org/IBroadCastService/SendBroadCast" message="tns:IBroadCastService_SendBroadCast_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BroadCastPing">
      <wsdl:input wsaw:Action="http://tempuri.org/IBroadCastService/BroadCastPing" message="tns:IBroadCastService_BroadCastPing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBroadCastService/BroadCastPingResponse" message="tns:IBroadCastService_BroadCastPing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewsMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IBroadCastService/CreateNewsMessage" message="tns:IBroadCastService_CreateNewsMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KeepAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/IBroadCastService/KeepAlive" message="tns:IBroadCastService_KeepAlive_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UsersForApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IBroadCastService/UsersForApplication" message="tns:IBroadCastService_UsersForApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBroadCastService/UsersForApplicationResponse" message="tns:IBroadCastService_UsersForApplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserMailsForApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IBroadCastService/UserMailsForApplication" message="tns:IBroadCastService_UserMailsForApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBroadCastService/UserMailsForApplicationResponse" message="tns:IBroadCastService_UserMailsForApplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="History">
      <wsdl:input wsaw:Action="http://tempuri.org/IBroadCastService/History" message="tns:IBroadCastService_History_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBroadCastService/HistoryResponse" message="tns:IBroadCastService_History_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HistoryLastItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IBroadCastService/HistoryLastItem" message="tns:IBroadCastService_HistoryLastItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBroadCastService/HistoryLastItemResponse" message="tns:IBroadCastService_HistoryLastItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BroadCastToClients">
      <wsdl:output wsaw:Action="http://tempuri.org/IBroadCastService/BroadCastToClients" message="tns:IBroadCastService_BroadCastToClients_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IBroadCastService" type="tns:IBroadCastService">
    <wsp:PolicyReference URI="#NetTcpBinding_IBroadCastService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegisterClient">
      <soap12:operation soapAction="http://tempuri.org/IBroadCastService/RegisterClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendBroadCastWithSkype">
      <soap12:operation soapAction="http://tempuri.org/IBroadCastService/SendBroadCastWithSkype" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendBroadCast">
      <soap12:operation soapAction="http://tempuri.org/IBroadCastService/SendBroadCast" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="BroadCastPing">
      <soap12:operation soapAction="http://tempuri.org/IBroadCastService/BroadCastPing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewsMessage">
      <soap12:operation soapAction="http://tempuri.org/IBroadCastService/CreateNewsMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="KeepAlive">
      <soap12:operation soapAction="http://tempuri.org/IBroadCastService/KeepAlive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UsersForApplication">
      <soap12:operation soapAction="http://tempuri.org/IBroadCastService/UsersForApplication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserMailsForApplication">
      <soap12:operation soapAction="http://tempuri.org/IBroadCastService/UserMailsForApplication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="History">
      <soap12:operation soapAction="http://tempuri.org/IBroadCastService/History" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistoryLastItem">
      <soap12:operation soapAction="http://tempuri.org/IBroadCastService/HistoryLastItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BroadCastToClients">
      <soap12:operation soapAction="http://tempuri.org/IBroadCastService/BroadCastToClients" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BroadCastService">
    <wsdl:port name="NetTcpBinding_IBroadCastService" binding="tns:NetTcpBinding_IBroadCastService">
      <soap12:address location="net.tcp://srvsqldevd1.clo.be/Service.svc/BroadCast" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://srvsqldevd1.clo.be/Service.svc/BroadCast</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>