SmartDots/Service References/ServiceReferenceBroadCast/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BroadCasterServiceDier1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BroadCasterServiceDier1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EventDataType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Application" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeSend" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventDataType" nillable="true" type="tns:EventDataType" />
  <xs:complexType name="ArrayOfEventDataType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventDataType" nillable="true" type="tns:EventDataType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventDataType" nillable="true" type="tns:ArrayOfEventDataType" />
</xs:schema>